<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>chat</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="chatbox-holder">
      <h1 style="text-align: center; background-color: darkseagreen;">FAQ chatBox</h1>
      <div class="chatlogs">
        <div   id="chatbox">
        <div class="chat">  
          <div class="user-photo"><img src="/static/img1.png"/></div>
             <p class="botText">Hi! May I help you ?</p></div>
          </div>
         </div>
            <div class="chat">
                
                    <div id="userInput">
                      <input type="text" id="textInput" name="msg" placeholder="Message">
                    </div>
                
                <div>
                  <input type="submit" id="buttonInput" value="Send">
                </div>
            </div>
            <script src="/static/main.js"></script>
    </div>
</body>

</html>